.blog {
    &__page-path {
        margin-bottom: 5.9rem;
    }
    &__content {
        margin-bottom: 6.6rem;
    }
    &__content-inner {
        display: flex;
        align-items: flex-start;
    }
    &__articles {
        min-width: 73rem;
        max-width: 73rem;
        margin-right: 3rem;
    }
    &__item {}
    &__item-medium {
        margin-bottom: 13em;
    }
    &__medium-image {
        width: 100%;
        min-height: 41.5rem;
        margin-bottom: 2.5rem;
    }
    &__medium-title {
        margin: 1rem 0;
    }
    &__item-video {
        margin-bottom: 9rem;
    }
    &__video-wrapper {
        margin-bottom: 2.5rem;
        position: relative;
    }
    &__video-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
    &__video-metadata {
        margin-bottom: 1rem;
    }
    &__item-slider {
        margin-bottom: 5.2rem;
    }
    &__slider-wrapper {
        margin-bottom: 2.5rem;
        position: relative;
    }
    &__slider-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__slider-left-button {
        left: 1.6rem;
    }
    &__slider-right-button {
        right: 1.6rem;
    }
    &__slider-title {
        margin: 1rem 0;
    }
    &__item-pages {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__pages-number {
        margin-right: 1.2rem;
        font-family: 'Open Sans', serif;
        line-height: 2.8rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: #707070;
    }
    &__pages-number_active {
        color: #363838;
    }
    &__side-bar {
        min-width: 35rem;
        max-width: 35rem;
    }
    &__side-bar-title {
        font-family: 'Montserrat', sans-serif;
        line-height: 2.3rem;
        font-size: 1.6rem;
        font-weight: bold;
        color: #363838;
    }
    &__categories {
        margin-bottom: 4.7rem;
    }
    &__categories-title {
        margin-bottom: 1.4rem;
    }
    &__categories-item {
        margin-bottom: 1.2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__categories-name,
    &__categories-amount {
        font-family: 'Open Sans', sans-serif;
        line-height: 2.7rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: #5A5A5A;
    }
    &__categories-name {
        margin-right: 0.5rem;
    }
    &__recent-posts {
        margin-bottom: 5rem;
    }
    &__recent-posts-title {
        margin-bottom: 2.4rem;
    }
    &__recent-posts-item {
        margin-bottom: 1.1rem;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__recent-posts-metadata {
        font-weight: 400;
        color: #A1A1A1;
    }
    &__social-network {
        margin-right: 2rem;
        &:last-child {
            margin-right: 0;
        }
    }
    &__social-link {
        width: 1.6rem;
        min-height: 1.8rem;
    }
}

.search-form {
    width: 100%;
    margin-bottom: 4.4rem;
    &__input {
        width: 100%;
        padding: .5rem 1.2rem .5rem 1.8rem;
        background-image: url(../assets/icons/Shape.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: right 1.9rem center;
        border: .1rem solid #383636;
        border-radius: 2rem;
        font-family: 'Open Sans', sans-serif;
        line-height: 2.8rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: #A1A1A1;
    }
}