.contact {
    &__title {
        font-family: 'Montserrat', sans-serif;
        line-height: 6rem;
        font-size: 3.6rem;
        font-weight: bold;
        color: #363838;
    }
    &__line {
        width: 20rem;
        height: .2rem;
        margin-top: 2.5rem;
        margin-bottom: 3.8rem;
    }
    &__info {
        margin-left: 28.5rem;
        margin-bottom: 10.1rem;
    }
    &__social-media {
        margin-bottom: 2.1rem;
    }
    &__social-network {
        margin-right: 4.5rem;
        &:last-child {
            margin-right: 0;
        }
    }
    &__social-link {
        width: 2rem;
        min-height: 1.8rem;
    }
    &__text {
        margin-bottom: 1.6rem;
        font-family: 'Open Sans', sans-serif;
        line-height: 2.8rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: #A1A1A1;
    }
    &__metadata {
        color: #5A5A5A;
    }
    &__form {
        margin-top: 2.4rem;
        margin-bottom: 2rem;
    }
    &__form-wrapper {
        margin-bottom: 1.3rem;
    }
    &__input-name,
    &__input-email {
        width: 50%;
        padding: .5rem 1.5rem;
    }
    &__input-message {
        width: 100%;
        padding: 1.5rem;
        min-height: 12.5rem;
        resize: none;
    }
    &__submit-button {
        width: 18rem;
        height: 4rem;
    }
    &__about {
        margin-bottom: 3.5rem;
    }
    &__gallery-item {
        width: 17rem;
        height: 17rem;
        margin-right: 1.8rem;
        &:last-child {
            margin-right: 0;
        }
    }
    &__gallery-title {
        font-size: 1.6rem;
    }
    &__triggers {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10.2rem;
    }
}

.map {
    min-height: 57.7rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/images/contact/map.jpg);
    margin-bottom: 5.5rem;
    position: relative;
    &__page-path {
        background-color: rgba(223, 223, 223, .5);
        position: absolute;
        top: 0;
        left: 0;
    }
}