.blog__single-post {
    &-content {
        margin-bottom: 0;
    }
    &-item {
        margin-bottom: 3.3rem;
    }
    &-image {
        margin-bottom: 2.5rem;
    }
    &-title {
        margin: 1rem 0;
        line-height: 4rem;
        font-size: 2.8rem;
    }
    &-quote {
        align-items: flex-start;
        background-color: transparent;
        margin-top: 3.5rem;
        margin-bottom: 3rem;
        padding: 0 3rem 0 4.2rem;
    }
    &-quote-text {
        text-align: left;
    }
    &-tags-title {
        font-family: 'Montserrat', sans-serif;
        line-height: 3.1rem;
        font-size: 2rem;
        font-weight: bold;
        color: #363838;
    }
    &-tags {
        margin-bottom: 3.3em;
    }
    &-tags-content {
        column-gap: 2.3rem;
    }
}

.blog {
    &__other-posts {
        padding: 4rem 0 3.2rem 0;
        border: .1rem solid #DFDFDF;
        border-left: none;
        border-right: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3.5rem;
    }
    &__other-posts-item {
        display: flex;
        align-items: center;
    }
    &__other-posts-text {
        width: 24.3rem;
        margin: 0 2.3rem;
        font-family: 'Open Sans', sans-serif;
        line-height: 2.8rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: #707070;
    }
    &__comments {
        margin-bottom: 11rem;
    }
    &__comments-title {
        margin-bottom: 2.2rem;
        font-family: 'Montserrat', sans-serif;
        line-height: 3.1rem;
        font-size: 2rem;
        font-weight: bold;
        color: #363838;
    }
    &__comments-content {
        margin-bottom: 4.8rem;
    }
    &__comments-item {
        display: flex;
        margin-bottom: 4rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__comments-avatar {
        width: 6.4rem;
        height: 6.4rem;
        margin-right: 1.7rem;
    }
    &__comments-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 1rem;
    }
    &__comments-username {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        font-weight: bold;
        color: #363838;
    }
    &__comments-metadata {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        color: #A1A1A1;
    }
    &__comments-reply-button {
        font-family: 'Open Sans', sans-serif;
        line-height: 2.8rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: #707070;
    }
    &__comments-text {
        font-family: 'Open Sans', sans-serif;
        line-height: 2.7rem;
        font-size: 1.6rem;
        font-weight: 400;
        color: #5A5A5A;
    }
    &__comments-form {
        margin-bottom: 2.5rem;
    }
    &__comments-form-title {
        margin-bottom: 2.5rem;
        font-family: 'Montserrat', sans-serif;
        line-height: 2.3rem;
        font-size: 1.6rem;
        font-weight: bold;
        color: #363838;
    }
    &__comments-input-comment {
        width: 100%;
        min-height: 12.5rem;
        padding: 1.5rem;
        resize: none;
    }
    &__comments-form-wrapper {
        margin-top: 1.2rem;
        margin-bottom: 2.1rem;
    }
    &__comments-input-name {
        width: 50%;
        padding: .5rem 1.5rem;
    }
    &__comments-input-email {
        width: 50%;
        padding: .5rem 1.5rem;
    }
    &__comments-input-remember-me {
        width: 2.1rem;
        height: 2.1rem;
        border: .1rem solid #DFDFDF;
        margin-right: 1.1rem;
    }
    &__comments-label {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        color: #A1A1A1;
    }
    &__submit-button {
        width: 16rem;
        height: 4rem;
    }
}

.previous-post {
    text-align-last: left;
}

.next-post {
    text-align: right;
}